<h>Add new event</h>
<form role="form" class="col-lg-3 col-md-3 col-sm-4 col-xs-8" ng-submit="controller.addEvent()">
    <div class="form-group">
        <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" ng-model="controller.event.name"/>
        <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" ng-model="controller.event.city"/>
        <!--<label for="date">Date</label>-->
            <!--<input type="date" class="form-control" id="date" name="date" ng-model="controller.event.date"/>-->
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>