<form role="form" class="col-lg-3 col-md-3 col-sm-4 col-xs-8" ng-submit="controller.addEvent()">
    <div class="form-group">
        <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" ng-model="controller.event.name"/>
        <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" ng-model="controller.event.city"/>
        <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" ng-model="controller.event.address"/>
        <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="date" ng-model="controller.event.date"/>
        <label for="time">Time</label>
            <input type="time" class="form-control" id="time" name="time" ng-model="controller.event.time"/>
        <!--<label for="date">Date</label>-->
            <!--<input type="date" class="form-control" id="date" name="date" ng-model="controller.event.date"/>-->
        <br>
        <br>
        <img id="photoView" src="#" alt="" style="width:200px;height:300px" />
        <br>
        <br>
        <label for="photo" class="btn btn-inverse" >Upload Photo <i class="fa fa-picture-o fa-fw"></i></label>
        <input type="file" onchange="angular.element(this).scope().uploadFile(this);"
               id="photo" name="photo" ng-model="controller.event.photo" accept="image/jpeg" style="display:none;"/>
        <button type="submit" class="btn btn-inverse pull-right">Update</button>
    </div>
    <button type="submit" class="btn btn-inverse">Add</button>
</form>