<div ng-app="main" ng-controller="events_controller">

    <div class="container">
        <div class="col-lg-12">
            <h2>Events</h2>
        </div>

        <div class="row">
            <div class="col-lg-6" ng-repeat="x in eventsArray">
                <a ng-href="#/events/{{x.id}}" >
                    <div class="col-lg-12">
                        <p>{{ x.name }}</p>
                    </div>

                    <div class="col-lg-6">
                        <img src="http://cdn2.hubspot.net/hub/55403/file-1816007428-jpg/Event.jpg?t=1429810618081" style="width:250px;height:300px">
                    </div>
                    <div class="col-lg-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad assumenda blanditiis consequatur cupiditate dignissimos distinctio dolor dolores dolorum eos eum, laudantium numquam quis quod repudiandae saepe unde voluptatum! Esse?   </p>
                    </div>
                </a>
            </div>
        </div>

        </br>
        </br>
        <div class="col-lg-12">
            <a href="#/events/add" class="btn btn-primary" role="button">Add Event</a>
        </div>

        <!--<table class="table">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>#</th>-->
                <!--<th>Name</th>-->
                <!--<th>City</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="x in eventsArray">-->
                    <!--<td>{{ x.id }}</td>-->
                    <!--<td><a ng-href="#/events/{{x.id}}">{{ x.name }}</a></td>-->
                    <!--<td> {{ x.city }} </td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    </div>


</div>