body{
   color: whitesmoke;
   background: url("http://grozav.com/plugins/bootslider/img/slide-3.jpg") no-repeat fixed center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

input{
   color:black;
   display: block;
}

.nav {
   background-color: #131619; /* 171B1C  161D24*/
}

.btn-inverse{
   background-color: #131619;
}

.input-group-addon{
   background-color: #131619;
   border: 0;
}
